<h1>About This App</h1>
<h2>This is the finished project from the <%= link_to "One Month", "https://onemonth.com", :target => "_blank" %> Rails course.</h2>
<h3>Feel free to sign up and create some pins!</h3>