<h1>About This App</h1>
<h2>This is the finished project from the <%= link_to "One Month", "https://onemonth.com", :target => "_blank" %> Ruby on Rails course.</h2>
<h3>Feel free to <%= link_to "sign up", new_user_registration_path %> and create some pins!</h3>